{% extends "panel/base_panel.html" %}

{% block title %}panel{% endblock title %}

  {% block titulo_nav %} Junta Directiva Equipos{% endblock titulo_nav %}

    {% block funciones %}
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-ripple">Junta Directiva</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'equipo_app:modificar-secretario' %}">Secretario</a></li>
                        <li><a href="{% url 'equipo_app:modificar-tesorero' %}">Tesorero</a></li>
                    </ul>
                </div>
            </li>

            <li class="bold"><a class="collapsible-header  waves-effect waves-ripple">Comando Tecnico</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'equipo_app:modificar-tecnico' %}">D. Tecnico</a></li>
                        <li><a href="{% url 'equipo_app:modificar-preparador' %}">Preparador</a></li>
                        <li><a href="{% url 'equipo_app:modificar-medico' %}">Medico</a></li>
                        <li><a href="{% url 'equipo_app:modificar-delegado' %}">Delegado</a></li>
                    </ul>
                </div>
            </li>

            <li class="bold"><a class="collapsible-header  waves-effect waves-ripple">Jugadores</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'jugador_app:registrar-jugador' %}">Registrar</a></li>
                        <li><a href="{% url 'jugador_app:listar-jugador' %}">Plantel</a></li>
                        <li><a href="{% url 'jugador_app:seleccion-jugadores' %}">Convocar</a></li>
                        <li><a href="{% url 'jugador_app:consulta-habilitados' %}">Jugadores Convocados</a></li>
                    </ul>
                </div>
            </li>

            <li class="bold"><a class="collapsible-header  waves-effect waves-ripple">Equipo</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'equipo_app:modificar-equipo' %}">Resgistrar Equipo</a></li>
                    </ul>

                    <ul>
                        <li><a href="{% url 'jugador_app:consulta-jugadores' %}">Goleadores</a></li>
                        <li><a href="{% url 'jugador_app:jugador-amonestados' %}">Amonestados</a></li>
                    </ul>
                </div>
            </li>

        </ul>
        <div class="col s1">
                <a class="btn-large disabled" href="http://127.0.0.1:8000/"><i class="fa fa-chevron-left left"></i>Home</a>
    </div>
    </li>
    {% endblock funciones %}
