{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}


<div class="container panel-container">
        <div class="row">
            <div class="col s5">
                <a class="waves-effect waves-light btn btn-back" href="{% url 'incidencias_app:listar-Partido' %}"><i class="fa fa-chevron-left left"></i>Regresar</a>    
            </div>
        </div>

        <div class="divider"></div>
        
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card-panel">
                    <div class="row">
                        <ul class="collection">
                           <li class="collection-item">
                                <span class="title">partido:</span>
                                <p>{{ Partido.partido }}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">equipo:</span>
                                <p>{{ Partido.equipo}}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">goles_favor:</span>
                                <p>{{ Partido.goles_favor}}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">goles_contra:</span>
                                <p>{{ Partido.goles_contra}}</p>
                            </li>
                        </ul> <!-- fin de collection -->
                    </div>

                </div><!-- fin de card-panel -->

            </div>
        </div><!-- fin de row -->
        
    </div><!-- fin de panel-container -->

{% endblock contenido_panel %}