{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">
        <div class="row">
            <div class="col s6 m4">
                <p>
                    <a class="waves-effect waves-light btn" href="{% url 'incidencias_app:registrar-Partido' %}">
                        <i class="fa fa-plus left"></i>
                        Agregar Partidos
                    </a>
                </p> 
            </div>
        </div>
        <div class="row">
        <table class="hoverable centered bordered responsive-table">
            <thead>
                <tr>
                <th>Fixture</th>                
                <th>goles_local</th>
                <th>goles_visita</th>
                </tr>
            </thead>
            <tbody>
            {% for Partido in  encuentro %}
                <tr>
                    <td>{{ Partido.fixture__torneo__nombre }}</td>
                    <td>{{ Partido.goles_local }}</td>
                    <td>{{ Partido.goles_visita }}</td>
            
                    <td>
                        <a href="{% url 'incidencias_app:detalle-Partido' Partido.pk %}" class="waves-effect waves-light btn panel-btn green"><i class="fa fa-eye"></i></a>
                        <a href="{% url 'incidencias_app:modificar-Partido' Partido.pk %}" class="waves-effect waves-light btn panel-btn yellow"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'incidencias_app:eliminar-Partido' Partido.pk %}" class="waves-effect waves-light btn panel-btn red"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>            
          {% endfor %}

            </tbody>
        </table>
      </div>
    </div>
{% endblock contenido_panel %}