{% extends "home/base_home.html" %}

{% block content %}
{% load staticfiles %}

    {% include "include/header.html" %}
    {% if form.errors %}
        <div class="card-panel red lighten-1">
            <span class="white-text"> {{ form.errors }} </span>
        </div>
        <div class="divider"></div>
    {% endif %}
            <div class="row">
              <div class="card">
                <div class="col s12 m6 ">
                    <form class="col s6" method="POST" enctype="multipart/form-data" id="form_datos">{% csrf_token %}
                      <div class="row">
                        <div class="input-field col s12">
                            {{form.nombre}}
                            {{form.nombre.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.apellidos}}
                            {{form.apellidos.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.email}}
                            {{form.email.label_tag}}
                        </div>

                        <div class="input-field col s12">
                            {{form.direccion}}
                            {{form.direccion.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.sexo}}
                            {{form.sexo.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.telefono}}
                            {{form.telefono.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.fecha_nacimiento}}
                            {{form.fecha_nacimiento.label_tag}}
                        </div>
                        <div class="row">
                                <div class="file-field input-field col s12">
                                    <input class="file-path validate" type="text"/>
                                    <div class="btn">
                                        <span>Foto</span>
                                        {{ form.foto }}
                                    </div>
                                </div>
                        </div>

                        <div class="row">
                                <div class="input-field col s12">
                                      <button class="btn cyan waves-effect waves-light center" type="submit" name="action">Enviar
                                        <i class="mdi-content-send right"></i>
                                      </button>
                                </div>
                        </div>
                      </div>
                    </form>
                </div>
              </div>
        </div>
{% endblock content %}
