{% extends "panel/frotend/base_frontend.html" %}

{% block contenido_panel %}
{% load staticfiles %}
    <div class="card-panel grey lighten-4">
          <span>Equipos Participantes</span>
          <div class="row valign-wrapper">
                <div class="col m1">
                  <img src="{% static 'img/psg.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bayer.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/mu.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/ars.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
                <div class="col m1">
                  <img src="{% static 'img/psg.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bayer.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/mu.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/ars.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
              </div>
          </div>
    </div>
    <div class="container panel-container">
        <div class="row">
        <table class="hoverable centered bordered responsive-table">
            <thead>
                <tr>
                <th>nombre</th>
                <th>color_camiseta</th>
                <th>junta_directiva</th>
                <th>comando_tecnico</th>
                <th>facultad</th>
                </tr>
            </thead>
            <tbody>
            {% for equipo in  equipos %}
                <tr>
                    <td>{{ equipo.nombre }}</td>
                    <td>{{ equipo.color_camiseta }}</td>
                    <td>{{ equipo.junta_directiva }}</td>
                    <td>{{ equipo.comando_tecnico }}</td>
                    <td>{{ equipo.facultad }}</td>
                </tr>
          {% endfor %}

            </tbody>
        </table>
      </div>
    </div>

{% include "panel/footer.html" %}
{% endblock contenido_panel %}
