{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}
{% if form.errors %}
    <div class="card-panel red lighten-1">
        <span class="white-text"> {{ form.errors }} </span>
    </div>
    <div class="divider"></div>
{% endif %}
            <div class="row">
              <div class="card">
                <div class="col s12">
                    <form class="col s6" method="POST" enctype="multipart/form-data" id="form_datos">{% csrf_token %}
                      <div class="row">
                              <div class="input-field col s12">
                            {{form.nombre}}
                            {{form.nombre.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.denominacion}}
                            {{form.denominacion.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.fecha_inicio}}
                            {{form.fecha_inicio.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.fecha_fin}}
                            {{form.fecha_fin.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{ form.bases }}
                        </div>
                        </div>

                        <div class="row">
                                <div class="input-field col s12">
                                      <button class="btn cyan waves-effect waves-light center" type="submit" name="action">Guardar
                                        <i class="mdi-content-send right"></i>
                                      </button>
                                </div>
                        </div>
                      </div>
                      </form>
                </div>
              </div>
        </div>
{% endblock contenido_panel %}
