{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">
      {% if form.errors %}
          <div class="card-panel red lighten-1">
              <span class="white-text"> {{ form.errors }} </span>
          </div>
          <div class="divider"></div>
      {% endif %}
      <div class="row">
          <ul class="collection">
              <li class="collection-item">
                  <span class="title">Torneo:</span>
                  <p>{{torneo.nombre}}</p>
              </li>
              <li class="collection-item">
                  <span class="title">Denominacion:</span>
                  <p>{{ torneo.denominacion}}</p>
              </li>
              <li class="collection-item">
                  <span class="title">Fecha de Inicio:</span>
                  <p>{{ torneo.fecha_inicio }}</p>
              </li>
              <li class="collection-item">
                  <span class="title">Fecha Fin:</span>
                  <p>{{ toreno.fecha_fin }}</p>
              </li>

          </ul> <!-- fin de collection -->
      </div>
      <div class="row">
        <h5 class="title">Equipos Inscritos en Este Torneo</h5>
        <table class="hoverable centered bordered responsive-table">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>facultad</th>
              <th>GF</th>
              <th>GC</th>
              <th>PJ</th>
              <th>PG</th>
              <th>PE</th>
              <th>PP</th>
              <th>Puntaje</th>
          </tr>
        </thead>
        <tbody>

          {% for equipo in  resultados %}
            <tr>
              <td>{{ equipo.equipo.nombre }}</td>
              <td>{{ equipo.equipo.facultad }}</td>
              <td>{{ equipo.gf }}</td>
              <td>{{ equipo.gc }}</td>
              <td>{{ equipo.pj }}</td>
              <td>{{ equipo.pg }}</td>
              <td>{{ equipo.pe }}</td>
              <td>{{ equipo.pp }}</td>
              <td>{{ equipo.ptos }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <h5>Ingrese el Nombre del Torneo Para Completar el Proceso:</h5>
      <form class="col s6" method="POST" enctype="multipart/form-data" id="form_datos">{% csrf_token %}
        {{form}}
          <div class="row">
                  <div class="input-field col s12">
                        <button class="btn cyan waves-effect waves-light center" type="submit" name="action">Culminar
                          <i class="mdi-content-send right"></i>
                        </button>
                  </div>
          </div>
        </form>
      </div>
    </div>
{% endblock contenido_panel %}
