<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Unsaac</h5>
                <p class="grey-text text-lighten-4">Liga de Pprotiva Unsaac.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Navega</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Unsaac </a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Resultados</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Calsificados</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
          </div>
</footer>
