{% extends "panel/base_panel.html" %}

{% block title %}panel{% endblock title %}

  {% block titulo_nav %} Liga Deportiva Unsaac{% endblock titulo_nav %}

    {% block funciones %}
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-ripple">Mantenimientos</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'torneo_app:listar_CampoD' %}">Campo Deportivo</a></li>
                        <li><a href="{% url 'torneo_app:listar_torneo' %}">Torneo</a></li>
                        <li><a href="{% url 'equipo_app:listar-facultad' %}">Facultad</a></li>
                        <li><a href="{% url 'torneo_app:listar_arbitro' %}">Arbitros</a></li>
                        <li><a href="{% url 'torneo_app:listar_PrecioPago' %}">Precio Pago</a></li>
                        <li><a href="{% url 'incidencias_app:listar-Resultados' %}">Resultados</a></li>
                        <li><a href="{% url 'jugador_app:listar-gool' %}">Registro de Goles</a></li>
                        <li><a href="{% url 'jugador_app:listar-amonestacion' %}">Registro Amonestados</a></li>
                        <li><a href="{% url 'incidencias_app:listar-espectador' %}">Espectador</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-ripple">Partido</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'incidencias_app:listar-Partido' %}">Partido</a></li>
                        <li><a href="{% url 'incidencias_app:listar-Incidencia' %}">Incidencias</a></li>
                        <li><a href="{% url 'jugador_app:lista-equipo-amonestacion' %}">Amonestacion</a></li>
                        <li><a href="{% url 'incidencias_app:listar-Resultados' %}">Resultados</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-ripple">Procesos</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'users_app:agregar-administrador' %}">Agregar Administrador</a></li>
                        <li><a href="{% url 'users_app:administrador-equipo' %}">Equipo Nuevo</a></li>
                        <li><a href="{% url 'users_app:Lista-Admin-Equipo' %}">Iscribir Equipo</a></li>
                        <li><a href="{% url 'equipo_app:listar-Pago' %}">Pagos</a></li>
                        <li><a href="#">Generar Fixture</a></li>
                        <li><a href="{% url 'torneo_app:culminar-torneo' %}">Culminar Torneo</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-ripple">Consultas</a>
              <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'jugador_app:consulta-goleadores' %}">Goleadores</a></li>
                        <li><a href="{% url 'jugador_app:consulta-equipos' %}">Amonestaciones</a></li>
                        <li><a href="#">Fechas Restantes</a></li>
                    </ul>
              </div>
            </li>
        </ul>
        <div class="col s1">
                <a class="btn-large disabled" href="http://127.0.0.1:8000/"><i class="fa fa-chevron-left left"></i>Home</a>
    </div>
    </li>
    {% endblock funciones %}
