{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">
      <h3>Resultados Registrados</h3>
        <div class="row">
        <table class="hoverable centered bordered responsive-table">
            <thead>
                <tr>
                <th>partido</th>
                <th>equipo</th>
                <th>goles_favor</th>
                <th>goles_contra</th>
                </tr>
            </thead>
            <tbody>
            {% for Resultados in  Resultados %}
                <tr>
                    <td>{{ Resultados.partido }}</td>
                    <td>{{ Resultados.equipo }}</td>
                    <td>{{ Resultados.goles_favor }}</td>
                    <td>{{ Resultados.goles_contra }}</td>

                    <td>
                        <a href="{% url 'incidencias_app:detalle-Resultados' Resultados.pk %}" class="waves-effect waves-light btn panel-btn green"><i class="fa fa-eye"></i></a>
                        <a href="{% url 'incidencias_app:modificar-Resultados' Resultados.pk %}" class="waves-effect waves-light btn panel-btn yellow"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'incidencias_app:eliminar-Resultados' Resultados.pk %}" class="waves-effect waves-light btn panel-btn red"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
          {% endfor %}

            </tbody>
        </table>
      </div>
    </div>
{% endblock contenido_panel %}
