{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}
<div class="row">
    <h5 class="grey-text text-darken-4"> Equipo: {{object}}</h5>
    <h5 class="grey-text text-darken-4"> Presidente: {{object.junta_directiva}}</h5>
    <h6 class="grey-text text-darken-4"> Lista de Jugadores</h6>
    <table class="hoverable centered bordered responsive-table">
    <thead>
        <tr>
            <th>Tipo de amonestacion</th>
            <th>Partido</th>
            <th>descripcion</th>
            <th>Nivel</th>
            <th>monto</th>
        </tr>
    </thead>

    <tbody>
      {% for a in  lista %}
          <tr>
              {% if a.amonestacion.tipo_amonestacion == 'A' %}
                <td><span class="yellow-text text-darken-4">Amarilla</span></td>
              {% else %}
                {% if a.amonestacion.tipo_amonestacion == 'R' %}
                <td><span class="red-text text-darken-4">Roja</span></td>
                {% else %}
                <td>{{ a.amonestacion.tipo_amonestacion }}</td>
                {% endif %}
              {% endif %}
              <td>{{ a.amonestacion.partido }}</td>
              <td>{{ a.amonestacion.descripcion }}</td>
              <td>{{ a.amonestacion.peso_amonestacion }}</td>
              <td>{{ a.monto}}</td>
          </tr>
      {% endfor %}
    </tbody>
    </table>
    {% if user.type_user == '1' %}
    <form class="col s12" method="POST" enctype="multipart/form-data" id="form_datos">{% csrf_token %}
      <div class="row">
        <div class="row">
            <ul class="collection">
               <li class="collection-item">
                    <span class="title">Monto Total:</span>
                    <p>S/.{{ monto }}</p>
                </li>

            </ul> <!-- fin de collection -->
        </div>
            <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light center" type="submit" name="action">Pagar
                    <i class="mdi-content-send right"></i>
                </button>
            </div>
      </div>
    </form>
  {% endif %}
</div>
{% endblock contenido_panel %}
