{% extends "panel/paneljuntadirectiva/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}
<div class="row">
    <table class="hoverable centered bordered responsive-table">
    <thead>
        <tr>
            <th>Tipo de amonestacion</th>
            <th>Partido</th>
            <th>descripcion</th>
            <th>Nivel</th>
            <th>monto</th>
        </tr>
    </thead>

    <tbody>
      {% for a in  lista %}
          <tr>
              {% if a.amonestacion.tipo_amonestacion == 'A' %}
                <td><span class="yellow-text text-darken-4">Amarilla</span></td>
              {% else %}
                {% if a.amonestacion.tipo_amonestacion == 'R' %}
                <td><span class="red-text text-darken-4">Roja</span></td>
                {% else %}
                <td>{{ a.amonestacion.tipo_amonestacion }}</td>
                {% endif %}
              {% endif %}
              <td>{{ a.amonestacion.partido }}</td>
              <td>{{ a.amonestacion.descripcion }}</td>
              <td>{{ a.amonestacion.peso_amonestacion }}</td>
              <td>{{ a.monto}}</td>
          </tr>
      {% endfor %}
    </tbody>
    </table>
</div>
{% endblock contenido_panel %}
