{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}
<div class="row">
    <h4 class="grey-text text-darken-4"> Lista de Goleadores</h4>
    <table class="hoverable centered bordered responsive-table">
    <thead>
        <tr>
            <th>Equipo</th>
            <th>Facultad</th>
            <th>Nombre</th>
            <th>Camiseta</th>
            <th>Goles</th>
        </tr>
    </thead>

    <tbody>
    {% for jugador in  jugadores %}
        <tr>
            <td>{{ jugador.jugador.equipo }}</td>
            <td>{{ jugador.jugador.equipo.facultad }}</td>
            <td>{{ jugador.jugador.persona.nombres }}</td>
            <td>{{ jugador.jugador.numero_camiseta }}</td>
            <td>{{ jugador.num_goles}}</td>
        </tr>
        {% empty %}
        <td colspan="6">Lo sentimos no se Registro Goles en Este Torneo</td>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock contenido_panel %}
