{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}
<div class="row">
    <h5 class="grey-text text-darken-4"> Equipo: {{object}}</h5>
    <h5 class="grey-text text-darken-4"> Presidente: {{object.junta_directiva}}</h5>
    <h6 class="grey-text text-darken-4"> Lista de Jugadores</h6>
    <table class="hoverable centered bordered responsive-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Pisicion</th>
            <th>Numero</th>
            <th>Ver</th>
        </tr>
    </thead>

    <tbody>
    {% for jugador in  jugadores %}
        <tr>
            <td>{{ jugador.persona.nombres }}</td>
            <td>{{ jugador.persona.apellidos }}</td>
            <td>{{ jugador.posicion }}</td>
            <td>{{ jugador.numero_camiseta }}</td>
            <td>
              <a href="{% url 'jugador_app:consulta-amonestacion' jugador.pk %}" class="waves-effect waves-light btn panel-btn green">
                <i class="fa fa-eye"></i></a>
            </td>
        </tr>
        {% empty %}
        <td colspan="6">Este Equipo no Tiene Registro Jugadores</td>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock contenido_panel %}
