{% extends "panel/paneljuntadirectiva/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}
<div class="row">
    <h6 class="grey-text text-darken-4"> Lista de Jugadores Amonestados</h6>
    <table class="hoverable centered bordered responsive-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Pisicion</th>
            <th>Numero</th>
            <th>Amonestacion</th>
            <th>Ver</th>
        </tr>
    </thead>

    <tbody>
    {% for j in  amonestados %}
        <tr>
            <td>{{ j.jugador.persona.nombres }}</td>
            <td>{{ j.jugador.persona.apellidos }}</td>
            <td>{{ j.jugador.posicion }}</td>
            <td>{{ j.jugador.numero_camiseta }}</td>
            <td>{{j.tipo_amonestacion}}</td>
            <td>
              <a href="{% url 'jugador_app:jugador-deuda' j.jugador.pk %}" class="waves-effect waves-light btn panel-btn green">
                <i class="fa fa-eye"></i></a>
            </td>
        </tr>
        {% empty %}
        <td colspan="6">Este Equipo no Tiene Jugadores Amoestados</td>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock contenido_panel %}
