{% extends "base.html" %}

{% load  staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

{% endblock css %}
{% block sidenav %}
<header>
  <nav class="cyan  grey darken-4">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Unsaac</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down blue-text text-darken-2">
        <li><a href="{% url 'users_app:home' %}">Inicio</a></li>
        <li><a href="{% url 'incidencias_app:listar-partidos' %}">Partidos</a></li>
        <li><a href="{% url 'users_app:clasificacion' %}">Clasificacion</a></li>
        <li><a href="{% url 'equipo_app:listar-equipos' %}">Equipos</a></li>
        <li><a href="{% url 'incidencias_app:listar-incidencias' %}">Minuto a Minuto</a></li>
        <li><a href="{% url 'users_app:login' %}">Acceder</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
       <li><a href="{% url 'users_app:home' %}">Inicio</a></li>
        <li><a href="{% url 'incidencias_app:listar-partidos' %}">Partidos</a></li>
        <li><a href="{% url 'users_app:clasificacion' %}">Clasificacion</a></li>
        <li><a href="{% url 'equipo_app:listar-equipos' %}">Equipos</a></li>
        <li><a href="{% url 'incidencias_app:listar-incidencias' %}">Minuto a Minuto</a></li>
        <li><a href="{% url 'users_app:login' %}">Acceder</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>
    <main>
        {% block mensaje %}{% endblock mensaje %}
        {% block contenido_panel %}
        {% endblock contenido_panel %}

    </main>

{% endblock sidenav %}
{% block js %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
{% endblock js %}
