{% extends "panel/frotend/base_frontend.html" %}
{% load staticfiles %}
{% block content %}
    <div class="card-panel grey lighten-4">
        <span>Equipos Participantes</span>

        <div class="row valign-wrapper">
            <div class="col m1">
                <img src="{% static 'img/psg.jpg' %}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col m1">
                <img src="{% static 'img/bayer.png' %}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col m1">
                <img src="{% static 'img/mu.jpg' %}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col m1">
                <img src="{% static 'img/ars.png' %}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col m1">
                <img src="{% static 'img/psg.jpg' %}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col m1">
                <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col m1">
                <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col m1">
                <img src="{% static 'img/bayer.png' %}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col m1">
                <img src="{% static 'img/mu.jpg' %}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col m1">
                <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col m1">
                <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col m1">
                <img src="{% static 'img/ars.png' %}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col m1">
                <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
            <div class="col m1">
                <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img">
                <!-- notice the "circle" class -->
            </div>
        </div>
    </div>
    </div>
    <he class="flow-text">Tabla de Posiciones</h3>
        <table>
            <thead>
            <tr>
                <th data-field="id">Equipo</th>
                <th data-field="name">Carrera</th>
                <th>PG</th>
                <th>PE</th>
                <th>PP</th>
                <th>GF</th>
                <th>GC</th>
                <th>DG</th>
                <th data-field="price">PTS</th>
            </tr>
            </thead>

            {% for equipo in resultados %}
                <tbody>

                <tr>
                    <td>{{ equipo.equipo.nombre }}</td>
                    <td>{{ equipo.equipo.facultad }}</td>
                    <td>{{ equipo.gf }}</td>
                    <td>{{ equipo.gc }}</td>
                    <td>{{ equipo.pj }}</td>
                    <td>{{ equipo.pg }}</td>
                    <td>{{ equipo.pe }}</td>
                    <td>{{ equipo.pp }}</td>
                    <td>{{ equipo.ptos }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <!--   <tbody>
               <tr>
                   <td>Sistemas</td>
                   <td>Eclair</td>
                   <td>$0.87</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
               </tr>
               <tr>
                   <td>Sistemas</td>
                   <td>Eclair</td>
                   <td>$0.87</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
               </tr>
               <tr>
                   <td>Sistemas</td>
                   <td>Eclair</td>
                   <td>$0.87</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
               </tr>
               <tr>
                   <td>contabilidad</td>
                   <td>Eclair</td>
                   <td>$0.87</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
               </tr>
               <tr>
                   <td>contabilidad</td>
                   <td>Eclair</td>
                   <td>$0.87</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
               </tr>
               <tr>
                   <td>contabilidad</td>
                   <td>Eclair</td>
                   <td>$0.87</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
                   <td>+12</td>
               </tr>-->
            <!--   </tbody>-->
        </table>

        {% include "panel/footer.html" %}
{% endblock content %}