{% extends "panel/frotend/base_frontend.html" %}
{% load staticfiles %}
{% block content %}
        <div class="card-panel grey lighten-4">
          <span>Equipos Participantes</span>
          <div class="row valign-wrapper">
                <div class="col m1">
                  <img src="{% static 'img/psg.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bayer.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/mu.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/ars.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
                <div class="col m1">
                  <img src="{% static 'img/psg.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bayer.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/mu.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/ars.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
              </div>
          </div>
        </div>



  <div class="slider">
    <ul class="slides">            
      <li>
        <img src="{% static 'img/2.jpg' %}">
          <div class="caption right-align">
            <h3>Arsenal vs Juventus</h3>
            <h5>1-1</h5>
          </div>
      </li>
      <li>
        <img src="{% static 'img/3.jpg' %}">
          <div class="caption right-align">
            <h3>Real Madrid vs Barcelona</h3>                
            <h5>0-4</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/2.jpg' %}">                
        <div class="caption right-align">
            <h3>Arsenal vs Olimpic</h3>
            <h7>3-0</h7>
        </div>
      </li>
    </ul>
  </div>

  <section>
    <h3>
      Siguientes encuentros
    </h3>
    <ul class="collection">
    <li class="collection-item avatar">
      <img src="{% static 'img/ars.png' %}" alt="" class="circle">
      <span class="title">ARS vs BAR</span>
      <p>Local: ARS<br>
         fecha: 12/12/2015  21:00 hs
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">ver mas</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="{% static 'img/bayer.png' %}" alt="" class="circle">
      <span class="title">BM vs RM</span>
      <p>Local: BM<br>
         fecha: 12/12/2015  21:00 hs
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">ver mas</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="{% static 'img/rm.jpg' %}" alt="" class="circle">
      <span class="title">ARS vs BAR</span>
      <p>Local: ARS<br>
         fecha: 12/12/2015  21:00 hs
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">ver mas</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="{% static 'img/mu.jpg' %}" alt="" class="circle">
      <span class="title">ARS vs BAR</span>
      <p>Local: ARS<br>
         fecha: 12/12/2015  21:00 hs
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">ver mas</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="{% static 'img/psg.jpg' %}" alt="" class="circle">
      <span class="title">ARS vs BAR</span>
      <p>Local: ARS<br>
         fecha: 12/12/2015  21:00 hs
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">ver mas</i></a>
    </li>
  </ul>
  </section>
  <script>
  $(document).ready(function(){
      $('.slider').slider();
    });
  </script>
{% include "panel/footer.html" %}
{% endblock content %}