{% extends "panel/frotend/base_frontend.html" %}
{% load staticfiles %}
{% block content %}
        <div class="card-panel grey lighten-4">
          <span>Equipos Participantes</span>
          <div class="row valign-wrapper">
                <div class="col m1">
                  <img src="{% static 'img/psg.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bayer.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/mu.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/ars.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
                <div class="col m1">
                  <img src="{% static 'img/psg.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bayer.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/mu.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/ars.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
              </div>
          </div>
        </div>
<p class="flow-text">Vea los Resultados de Todo Los Encuentros Jugados</p>
<div class="row">
    <div class="col s12 m4">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{% static 'img/2.jpg' %}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">BAR vs ARS<i class="material-icons right">...</i></span>
            <p class="blue-text">2-1</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">BAR vs ARS<i class="material-icons right">close</i></span>
            <p class="blue-text">Detalles del Partido</a></p>
            <ul class="collection">
              <li class="collection-item avatar">
                <img src="{% static 'img/2.png' %}" alt="" class="circle">
                <span class="title">Nombre del Jugador</span>
                <p>Goles: 2 <br>
                  Acumulado: 5
                </p>
              </li>
              <li class="collection-item avatar">
                <img src="{% static 'img/bar.png' %}" alt="" class="circle">
                <span class="title">Nombre del Jugador</span>
                <p>Goles: 1 <br>
                  Acumulado: 1
                </p>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{% static 'img/2.jpg' %}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">RM vs BM<i class="material-icons right">...</i></span>
            <p class="blue-text">2-1</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">BAR vs ARS<i class="material-icons right">close</i></span>
            <p class="blue-text">Detalles del Partido</a></p>
            <ul class="collection">
              <li class="collection-item avatar">
                <img src="{% static 'img/bar.png' %}" alt="" class="circle">
                <span class="title">Nombre del Jugador</span>
                <p>Goles: 2 <br>
                  Acumulado: 5
                </p>
              </li>
              <li class="collection-item avatar">
                <img src="{% static 'img/bar.png' %}" alt="" class="circle">
                <span class="title">Nombre del Jugador</span>
                <p>Goles: 1 <br>
                  Acumulado: 1
                </p>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{% static 'img/3.jpg' %}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">PSG vs ARS<i class="material-icons right">...</i></span>
            <p class="blue-text">2-1</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">BAR vs ARS<i class="material-icons right">close</i></span>
            <p class="blue-text">Detalles del Partido</a></p>
            <ul class="collection">
              <li class="collection-item avatar">
                <img src="{% static 'img/bar.png' %}" alt="" class="circle">
                <span class="title">Nombre del Jugador</span>
                <p>Goles: 2 <br>
                  Acumulado: 5
                </p>
              </li>
              <li class="collection-item avatar">
                <img src="{% static 'img/bar.png' %}" alt="" class="circle">
                <span class="title">Nombre del Jugador</span>
                <p>Goles: 1 <br>
                  Acumulado: 1
                </p>
              </li>
            </ul>
          </div>
      </div>
    </div>
</div>

{% include "panel/footer.html" %}
{% endblock content %}