{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

            <div class="row">
              <div class="card">
                <div class="col s10 m6 ">
                    <form class="col s12" method="POST" enctype="multipart/form-data" id="form_datos">{% csrf_token %}
                      <div class="row">
                        <div class="input-field col s9">
                            {{form.tipo}}
                            {{form.tipo.label_tag}}
                        </div>
                        <div class="input-field col s9">
                            {{form.minuto}}
                            {{form.minuto.label_tag}}
                        </div>
                        <div class="input-field col s9">
                            {{form.descripcion}}
                            {{form.descripcion.label_tag}}
                        </div>
                        <div class="input-field col s9">
                            {{form.usuario}}
                            {{form.usuario.label_tag}}
                        </div>
                        <div class="input-field col s9">
                            {{form.partido}}
                            {{form.partido.label_tag}}
                        </div>
                       
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn cyan waves-effect waves-light center" type="submit" name="action">Guardar Incidencias
                                    <i class="mdi-content-send right"></i>
                                </button>
                            </div>
                        </div>            
                      </div>
                </div>
              </div>
            </div>
{% endblock contenido_panel %}