{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">
        <div class="row">
            <div class="col s6 m4">
                <p><a class="waves-effect waves-light btn" href="{% url 'incidencias_app:registrar-Incidencia' %}"><i class="fa fa-plus left"></i>Agregar Incidencia</a></p> 
            </div>
        </div>
        <div class="row">
        <table class="hoverable centered bordered responsive-table">
            <thead>
                <tr>
                <th>tipo</th>
                <th>minuto</th>
                <th>descripcion</th>
                <th>usuario</th>
                <th>partido</th>
                </tr>
            </thead>
            <tbody>
            {% for Incidencia in  Incidencias %}
                <tr>
                    <td>{{ Incidencia.tipo }}</td>
                    
                    <td>{{ Incidencia.minuto }}</td>
                    <td>{{ Incidencia.descripcion }}</td>
                    <td>{{ Incidencia.usuario }}</td>
                    <td>{{ Incidencia.partido }}</td>
            
                    <td>
                        <a href="{% url 'incidencias_app:detalle-Incidencia' Incidencia.pk %}" class="waves-effect waves-light btn panel-btn green"><i class="fa fa-eye"></i></a>
                        <a href="{% url 'incidencias_app:modificar-Incidencia' Incidencia.pk %}" class="waves-effect waves-light btn panel-btn yellow"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'incidencias_app:eliminar-Incidencia' Incidencia.pk %}" class="waves-effect waves-light btn panel-btn red"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>            
          {% endfor %}

            </tbody>
        </table>
      </div>
    </div>
{% endblock contenido_panel %}