{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">
        <div class="row">
            <div class="col s12">
                <h5>Eliminando: {{ object.concepto }}</h5>
            </div>
        </div>

        <div class="divider"></div>
        
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <form action="{% url 'torneo_app:eliminar_PrecioPago' object.pk %}" method="POST">{% csrf_token %}
                            <div class="col s12">
                                <h6 class="center-align">¿Desea eliminar al Precio Pago "{{ object.concepto }}"?</h6>
                            </div>
                            <div class="col s12 center">
                                <button class="waves-effect waves-light btn btn-panel red" type="submit" name="action">si</button>
                                <a href="{% url 'torneo_app:listar_PrecioPago' %}" class="waves-effect waves-light btn panel-btn white black-text">no</a>
                            </div>
                        </form>                        
                    </div>
                </div><!-- fin de card-panel -->

            </div>
        </div><!-- fin de row -->
        
    </div><!-- fin de panel-container -->

{% endblock contenido_panel %}