{% extends "panel/paneljuntadirectiva/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}


<div class="container panel-container">
        <div class="row">
            <div class="col s5">
                <a class="waves-effect waves-light btn btn-back" href="{% url 'jugador_app:listar-jugador' %}"><i class="fa fa-chevron-left left"></i>Regresar</a>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card-panel">
                    <div class="row">
                        <ul class="collection">
                           <li class="collection-item">
                                <span class="title">Dni:</span>
                                <p>{{ jugador.persona.dni }}</p>
                            </li>
                            <li class="collection-item">
                                 <span class="title">Apellidos:</span>
                                 <p>{{ jugador.persona.apellidos }}</p>
                             </li>
                             <li class="collection-item">
                                  <span class="title">Nombres:</span>
                                  <p>{{ jugador.persona.nombres }}</p>
                              </li>
                              <li class="collection-item">
                                   <span class="title">direccion:</span>
                                   <p>{{ jugador.persona.direccion }}</p>
                               </li>
                               <li class="collection-item">
                                    <span class="title">email:</span>
                                    <p>{{ jugador.persona.email }}</p>
                                </li>
                                <li class="collection-item">
                                     <span class="title">telefono:</span>
                                     <p>{{ jugador.persona.telefono }}</p>
                                 </li>
                            <li class="collection-item">
                                <span class="title">Equipo:</span>
                                <p>{{ jugador.equipo}}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">Posicion:</span>
                                <p>{{ jugador.posicion}}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">Nro Camiseta:</span>
                                <p>{{ jugador.numero_camiseta}}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">Estado:</span>
                                {% if jugador.estado == True %}
                                <p>Habilitado</p>
                                {% else %}
                                <p>Inhabilitado</p>
                                {% endif %}
                            </li>

                        </ul> <!-- fin de collection -->
                    </div>

                </div><!-- fin de card-panel -->

            </div>
        </div><!-- fin de row -->

    </div><!-- fin de panel-container -->

{% endblock contenido_panel %}
