{% extends "panel/paneljuntadirectiva/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">
        <div class="row">
            <div class="col s6 m4">
                <p><a class="waves-effect waves-light btn" href="{% url 'jugador_app:registrar-jugador' %}"><i class="fa fa-plus left"></i>Agregar Jugador</a></p>
            </div>
        </div>
        <div class="row">
        <table class="hoverable centered bordered responsive-table">
            <thead>
                <tr>
                <th>Foto</th>
                <th>Persona</th>
                <th>Equipo</th>
                <th>Posicion</th>
                <th>Numero Camiseta</th>
                </tr>
            </thead>
            <tbody>
            {% for jugador in  jugadores %}
                <tr>
                  {% if not jugador.persona.foto %}
                    <td class="centered">
                      <div class="col s2">
                      <img src="{% static 'img/neunapp.png' %}" class="circle responsive-img valign">
                    </div>
                    </td>
                  {% else %}
                  <td class="centered">
                    <div class="col s2">
                    <img src="{{ jugador.persona.foto.url  }}" class="circle responsive-img valign">
                  </div>
                  </td>
                  {% endif %}
                    <td>{{ jugador.persona }}</td>
                    <td>{{ jugador.equipo }}</td>
                    <td>{{ jugador.posicion }}</td>
                    <td>{{ jugador.numero_camiseta }}</td>

                    <td>
                        <a href="{% url 'jugador_app:detalle-jugador' jugador.pk %}" class="waves-effect waves-light btn panel-btn green"><i class="fa fa-eye"></i></a>
                        <a href="{% url 'jugador_app:modificar-jugador' jugador.pk %}" class="waves-effect waves-light btn panel-btn yellow"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'jugador_app:eliminar-jugador' jugador.pk %}" class="waves-effect waves-light btn panel-btn red"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
          {% endfor %}

            </tbody>
        </table>
      </div>
    </div>
{% endblock contenido_panel %}
