{% extends "panel/paneljuntadirectiva/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">
      <h4>Jugadores con Goles en Este Torneo</h4>
      <div class="row">
        <table class="hoverable centered bordered responsive-table">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Posicion</th>
            <th>numero</th>
            <th>goles</th>
          </tr>
        </thead>
        <tbody>

          {% for g in  goleadores %}
            <tr>
              {% if not jugador.persona.foto %}
                <td class="centered">
                  <div class="col s2">
                  <img src="{% static 'img/neunapp.png' %}" class="circle responsive-img valign">
                </div>
                </td>
              {% else %}
              <td class="centered">
                <div class="col s2">
                <img src="{{ g.jugador.persona.foto.url  }}" class="circle responsive-img valign">
              </div>
              </td>
              {% endif %}
              <td>{{ g.jugador.posicion }}</td>
              <td>{{ g.jugador.numero_camiseta }}</td>
              <td>{{ g.jugador.goles }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "include/pagination.html" %}
      </div>
    </div>
{% endblock contenido_panel %}
