{% extends "panel/paneljuntadirectiva/panel.html" %}

{% block contenido_panel %}
    <div class="container panel-container">
        {% if form.errors %}
            <div class="card-panel red lighten-1">
                <span class="white-text"> {{ form.errors }} </span>
            </div>
            <div class="divider"></div>
        {% endif %}
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <form class="col s12" method="POST">{% csrf_token %}

                            {% for jugador in form.jugadores %}
                                <p>
                                  {{ jugador.tag }}
                                  <label for="{{jugador.id_for_label}}">{{ jugador.choice_label }}</label>
                                </p>
                            {% endfor %}

                            <div class="row">
                                <div class="input-field col s12">
                                      <button class="btn cyan waves-effect waves-light right" type="submit" name="action">guardar
                                        <i class="mdi-content-send right"></i>
                                      </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- fin de card-panel -->

            </div>
        </div><!-- fin de row -->

    </div><!-- fin de panel-container -->
{% endblock contenido_panel %}
