{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

            <div class="row">
              {% if form.errors %}
                  <div class="card-panel red lighten-1">
                      <span class="white-text"> {{ form.errors }} </span>
                  </div>
                  <div class="divider"></div>
              {% endif %}
              <div class="card">
                <div class="col s10 m6 ">
                    <form class="col s12" method="POST" enctype="multipart/form-data" id="form_datos">{% csrf_token %}
                      <div class="row">

                        <div class="input-field col s12">
                            {{form.jugador}}
                            {{form.jugador.label_tag}}
                        </div>

                        <div class="input-field col s12">
                            {{form.tipo_amonestacion}}
                            {{form.tipo_amonestacion.label_tag}}
                        </div>

                        <div class="input-field col s12">
                            {{form.condicion}}
                            {{form.condicion.label_tag}}
                        </div>

                        <div class="input-field col s12">
                            {{form.partido}}
                            {{form.partido.label_tag}}
                        </div>

                        <div class="input-field col s12">
                            {{form.peso_amonestacion}}
                            {{form.peso_amonestacion.label_tag}}
                        </div>

                        <div class="input-field col s12">
                            {{form.descripcion}}
                            {{form.descripcion.label_tag}}
                        </div>

                        <div class="row">
                                <div class="input-field col s12">
                                      <button class="btn cyan waves-effect waves-light center" type="submit" name="action">Guardar Amonestacion
                                        <i class="mdi-content-send right"></i>
                                      </button>
                                </div>
                        </div>

                      </div>

                    </form>
                </div>
              </div>
        </div>
{% endblock contenido_panel %}
