{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

<div class="container panel-container">
        <div class="row">
            <div class="col s5">
                <a class="waves-effect waves-light btn btn-back" href="{% url 'jugador_app:listar_Amonestacion' %}"><i class="fa fa-chevron-left left"></i>Regresar</a>
            </div>
            <div class="col s7">
                <h5>Amonestacion: {{ object.pk }} detalle</h5>
            </div>
        </div>

        <div class="divider"></div>
        
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card-panel">
                    <div class="row">
                        <ul class="collection">
                           <li class="collection-item">
                                <span class="title">jugador:</span>
                                <p>{{ object.jugador }}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">tipo_amonestacion:</span>
                                <p>{{ object.tipo_amonestacion}}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">condicion:</span>
                                <p>{{ object.condicion}}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">partido:</span>
                                <p>{{ object.partido}}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">peso_amonestacion:</span>
                                <p>{{ object.peso_amonestacion}}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">descripcion:</span>
                                <p>{{ object.descripcion}}</p>
                            </li>
                        </ul> <!-- fin de collection -->
                    </div>

                </div><!-- fin de card-panel -->

            </div>
        </div><!-- fin de row -->
        
    </div><!-- fin de panel-container -->

{% endblock contenido_panel %}