{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}
<div class="row">
    <h4 class="grey-text text-darken-4"> Equipos del Torneo</h4>
    <table class="hoverable centered bordered responsive-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Facultad</th>
            <th>Junta Directiva</th>
            <th>Ver</th>
        </tr>
    </thead>

    <tbody>
    {% for equipo in  equipos %}
        <tr>
            <td>{{ equipo.nombre }}</td>
            <td>{{ equipo.facultad }}</td>
            <td>{{ equipo.junta_directiva }}</td>
            <td>
              <a href="{% url 'jugador_app:registrar-amonestacion' equipo.pk %}" class="waves-effect waves-light btn panel-btn green">
                <i class="fa fa-eye"></i></a>
            </td>
        </tr>
        {% empty %}
        <td colspan="6">Lo sentimos no se tiene equipos en este torneo</td>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock contenido_panel %}
