{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">
      <div class="divider"></div>
      <div class="row">
        <table class="hoverable centered bordered responsive-table">
        <thead>
          <tr>
              <th>jugador</th>
              <th>tipo_amonestacion</th>
              <th>condicion</th>
              <th>partido</th>
              <th>peso_amonestacion</th>
              <th>descripcion</th>

          </tr>
        </thead>
        <tbody>

          {% for jugador in  campos %}
            <tr>
              <td>{{ jugador.jugador }}</td>
              <td>{{ jugador.tipo_amonestacion }}</td>
              <td>{{ jugador.condicion }}</td>
              <td>{{ jugador.partido }}</td>
              <td>{{ jugador.peso_amonestacion }}</td>
              <td>{{ jugador.descripcion }}</td>

              <td>
               <a href="{% url 'jugador_app:modificar-amonestacion' jugador.pk %}" class="waves-effect waves-light btn panel-btn yellow"><i class="fa fa-edit"></i></a>
               <a href="{% url 'jugador_app:eliminar-amonestacion' jugador.pk %}" class="waves-effect waves-light btn panel-btn red"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
      </div>
    </div>
{% endblock contenido_panel %}
