{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}
{% if form.errors %}
    <div class="card-panel red lighten-1">
        <span class="white-text"> {{ form.errors }} </span>
    </div>
    <div class="divider"></div>
{% endif %}
            <div class="row">
              <div class="card">
                <div class="col s10 m6 ">
                    <form class="col s12" method="POST" enctype="multipart/form-data" id="form_datos">{% csrf_token %}
                      <div class="row">

                        <div class="input-field col s12">
                            {{form.nombre}}
                            {{form.nombre.label_tag}}
                        </div>

                        <div class="input-field col s12">
                            {{form.direccion}}
                            {{form.direccion.label_tag}}
                        </div>

                        <div class="input-field col s12">
                            {{form.propietario}}
                            {{form.propietario.label_tag}}
                        </div>

                        <div class="input-field col s12">
                            {{form.capacidad}}
                            {{form.capacidad.integer_tag}}
                        </div>

                        <div class="input-field col s12">
                            {{form.descripcion}}
                            {{form.descripcion.label_tag}}
                        </div>

                        <div class="row">
                                <div class="input-field col s12">
                                      <button class="btn cyan waves-effect waves-light center" type="submit" name="action">Guardar C.Deportivo
                                        <i class="mdi-content-send right"></i>
                                      </button>
                                </div>
                        </div>

                      </div>

                    </form>
                </div>
              </div>
        </div>
{% endblock contenido_panel %}
