{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

            <div class="row">
              <div class="card">
                <h5>Registro de Goleador Para: {{equipo}}</h5>
                <div class="col s10 m6 ">
                    <form class="col s12" method="POST" enctype="multipart/form-data" >{% csrf_token %}
                      <div class="row">
                        <div class="input-field col s9">
                            {{form.jugador}}
                            {{form.jugador.label_tag}}
                        </div>
                        <div class="input-field col s9">
                            {{form.partido}}
                            {{form.partido.label_tag}}
                        </div>
                        <div class="input-field col s9">
                            {{form.num_goles}}
                            {{form.num_goles.label_tag}}
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn cyan waves-effect waves-light center" type="submit" name="action">Registrar
                                    <i class="mdi-content-send right"></i>
                                </button>
                                <a class="btn" href="{% url 'users_app:inicio' %}">Terminar</a>
                            </div>
                        </div>
                      </div>
                    </form>
                </div>
              </div>
            </div>
{% endblock contenido_panel %}
