{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}
<div class="row">
    <h4 class="grey-text text-darken-4"> Equipos del Partido</h4>
    <table class="hoverable centered bordered responsive-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Facultad</th>
            <th>Ver</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ equipo_l.nombre }}</td>
            <td>{{ equipo_l.facultad }}</td>
            <td>
              <a href="{% url 'jugador_app:registrar-goleadores' equipo_l.pk partido.pk %}" class="waves-effect waves-light btn panel-btn green">
                <i class="fa fa-eye"></i></a>
            </td>
        </tr>
        <tr>
            <td>{{ equipo_v.nombre }}</td>
            <td>{{ equipo_v.facultad }}</td>
            <td>
              <a href="{% url 'jugador_app:registrar-goleadores' equipo_v.pk partido.pk %}" class="waves-effect waves-light btn panel-btn green">
                <i class="fa fa-eye"></i></a>
            </td>
        </tr>
    </tbody>
    </table>
</div>
{% endblock contenido_panel %}
