{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">
      <h4>Lista de Goleadores Registrados</h4>
      <div class="divider"></div>
      <div class="row">
        <table class="hoverable centered bordered responsive-table">
        <thead>
          <tr>
              <th>jugador</th>
              <th>partido</th>
              <th>goles</th>
              <th>accion</th>

          </tr>
        </thead>
        <tbody>

          {% for jugador in  jugadores %}
            <tr>
              <td>{{ jugador.jugador }}</td>
              <td>{{ jugador.partido }}</td>
              <td>{{ jugador.num_goles }}</td>}

              <td>
               <a href="{% url 'jugador_app:modificar-goleadores' jugador.pk %}" class="waves-effect waves-light btn panel-btn yellow"><i class="fa fa-edit"></i></a>
               <a href="{% url 'jugador_app:eliminar-goleadores' jugador.pk %}" class="waves-effect waves-light btn panel-btn red"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
      </div>
    </div>
{% endblock contenido_panel %}
