{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">

        <div class="divider"></div>
        {% if form.errors %}
            <div class="card-panel red lighten-1">
                <span class="white-text"> {{ form.errors }} </span>
            </div>
            <div class="divider"></div>
        {% endif %}
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card-panel">
                    <div class="row">
                        <form class="col s12" action="{% url 'jugador_app:modificar-goleadores' object.pk %}" method="POST">{% csrf_token %}

                        <div class="row">
                        <div class="input-field col s6">
                            {{form.jugador}}
                            {{form.jugador.label_tag}}
                        </div>
                        <div class="input-field col s6">
                            {{form.partido}}
                            {{form.partido.label_tag}}
                        </div>
                        <div class="input-field col s6">
                            {{form.num_goles}}
                            {{form.num_goles.label_tag}}
                        </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Actualizar
                                        <i class="mdi-content-send right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- fin de card-panel -->

            </div>
        </div><!-- fin de row -->

    </div><!-- fin de panel-container -->
{% endblock contenido_panel %}
