{% extends "panel/paneljuntadirectiva/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">
        <div class="row">
            <div class="col s5">
                <a class="waves-effect waves-light btn btn-back" href="#"><i class="fa fa-chevron-left left"></i>Regresar</a>
            </div>
        </div>

        <div class="divider"></div>
        {% if form.errors %}
            <div class="card-panel red lighten-1">
                <span class="white-text"> {{ form.errors }} </span>
            </div>
            <div class="divider"></div>
        {% endif %}
        <div class="row">
            <div class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <form class="col s12" method="POST" enctype="multipart/form-data">{% csrf_token %}
                          <div class="col col-profile s3">
                            Foto:
                            {% if not form.logo %}
                              <img src="{% static 'img/usuario.png' %}" class="circle responsive-img valign">
                            {% else %}
                                <img src="{{ form.logo.url }}" class="responsive-img valign">
                            {% endif %}
                          </div>
                        <div class="row">
                        <div class="input-field col s12">
                            {{form.nombre}}
                            {{form.nombre.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.color_camiseta}}
                            {{form.color_camiseta.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.junta_directiva}}
                            {{form.junta_directiva.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.comando_tecnico}}
                            {{form.comando_tecnico.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.facultad}}
                            {{form.facultad.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.logo}}
                            {{form.logo.label_tag}}
                        </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">actualizar
                                        <i class="mdi-content-send right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- fin de card-panel -->

            </div>
        </div><!-- fin de row -->

    </div><!-- fin de panel-container -->
{% endblock contenido_panel %}
