/***************
  HTML Styles
***************/
body {
  background-color: #fcfcfc; }

p.box {
  padding: 20px; }

p {
  color: rgba(0, 0, 0, 0.71);
  padding: 0;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased; }

nav a {
  -webkit-font-smoothing: antialiased; }
nav ul li:hover, nav ul li.active {
  background-color: #616161; }

.header {
  color: #616161 ;
  font-weight: 300; }

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px; }

.preview {
  background-color: #616161 ;
  border: 1px solid #eee;
  padding: 20px 20px; }

header, main, footer {
  padding-left: 240px; }

.parallax-demo header, .parallax-demo main, .parallax-demo footer {
  padding-left: 0; }

footer.example {
  padding-left: 0; }

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0; } }

/********************
  Index Page Styles
********************/
ul.side-nav.fixed li.logo {
  padding-top: 32px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd; }
  ul.side-nav.fixed li.logo:hover {
    background-color: transparent; }

ul.side-nav.fixed {
  overflow: hidden; }
  ul.side-nav.fixed li {
    line-height: 44px; }
    ul.side-nav.fixed li:hover, ul.side-nav.fixed li.active {
      background-color: rgba(0, 0, 0, 0.05); }
    ul.side-nav.fixed li a {
      font-size: 13px;
      line-height: 44px;
      height: 44px; }
  ul.side-nav.fixed ul.collapsible-accordion {
    background-color: #FFF; }
  ul.side-nav.fixed:hover {
    overflow-y: auto; }
  ul.side-nav.fixed .profile-btn {
  margin-top: -0.6rem;
  text-transform: capitalize;
  padding: 0;
  text-shadow: 1px 1px 1px #444;
  font-size: 14px;}

.user-roal {
  color: #fff;
  margin-top: -16px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #444;
}
.row .col-profile{
  padding: 0 0.35rem;
}

i.right-profile{
  float: right;
  margin-left: 0px;
}

.bold > a {
  font-weight: bold; }

#logo-container {
  height: 57px;
  margin-bottom: 32px; }

.panel-container {
  margin-top: 2rem;
}

.panel-count {
  border: 1px solid #eee;
  background: #616161;
  padding: 0.1rem .7rem;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: white;
}

.panel-btn{
  padding: 0 0.7rem;
}

.btn-back{
  margin-top: 0.55rem;
}

nav.top-nav {
  height: 122px;
  box-shadow: none; }
  nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 42px;
    text-shadow: 1px 1px 5px #444; }

a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 32px;
  z-index: 2; }
  a.button-collapse.top-nav.full {
    line-height: 122px; }

@media only screen and (max-width : 600px) {
  a.button-collapse.top-nav {
    left: 5%; } }

@media only screen and (max-width : 992px) {
  nav .nav-wrapper {
    text-align: center; }
    nav .nav-wrapper a.page-title {
      font-size: 36px;
    }
}

@media only screen and (min-width : 993px) {
  .container {
    width: 85%; } }

@media only screen and (max-width: 992px) {
  #front-page-nav ul.side-nav li {
    float: none;
    padding: 0 15px; }
    #front-page-nav ul.side-nav li:hover {
      background-color: #ddd; }
    #front-page-nav ul.side-nav li .active {
      background-color: transparent; }
  #front-page-nav ul.side-nav a {
    color: #444; } }

#responsive-img {
  width: 80%;
  display: block;
  margin: 0 auto; }

#index-banner {
  background-color: #ee6e73; }
  #index-banner .container {
    position: relative; }
  #index-banner .header {
    color: #FFF; }
  #index-banner h4 {
    margin-bottom: 40px; }
  #index-banner h1 {
    margin-top: 16px; }

@media only screen and (max-width : 992px) {
  #index-banner h1 {
    margin-top: 60px; }
  #index-banner h4 {
    margin-bottom: 15px; } }

@media only screen and (max-width : 600px) {
  #index-banner h4 {
    margin-bottom: 0; } }

.github-commit {
  padding: 14px 0;
  height: 64px;
  line-height: 36px;
  background-color: #5c5757;
  color: #e6e6e6;
  font-size: .9rem; }

@media only screen and (max-width : 992px) {
  .github-commit {
    text-align: center; } }

#github-button {
  background-color: #6f6d6d;
  -webkit-transition: .25s ease;
  -moz-transition: .25s ease;
  -o-transition: .25s ease;
  -ms-transition: .25s ease;
  transition: .25s ease; }
  #github-button:hover {
    background-color: #797777; }

.sha {
  color: #f0f0f0;
  margin: 0 6px 0 6px; }

#download-button {
  background-color: #f3989b;
  width: 260px;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  font-weight: 400; }
  #download-button:hover {
    background-color: #f5a5a8; }

.promo {
  width: 100%; }
  @media only screen and (max-width : 992px) {
    .promo {
      width: 60%;
      margin: 0 auto;
      display: block; } }
  .promo i {
    color: #ee6e73;
    font-size: 7rem;
    display: block; }

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0; }

#front-page-nav {
  background-color: #FFF;
  position: relative; }
  #front-page-nav a {
    color: #ee6e73; }
  #front-page-nav li:hover {
    background-color: #fdeaeb; }
  #front-page-nav li.active {
    background-color: #fdeaeb; }
  #front-page-nav .container {
    height: inherit; }

.col.grid-example {
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: tomato;
  color: white;
  padding: 0; }
  .col.grid-example span {
    font-weight: 200;
    line-height: 50px; }

.promo-example {
  overflow: hidden; }

/*******************
  Flat Site Mockup
*******************/
#site-layout-example-left {
  background-color: #616161;
  height: 300px; }

#site-layout-example-right {
  background-color: #616161;
  height: 300px; }

#site-layout-example-top {
  background-color: #616161;
  height: 42px; }

.flat-text-header {
  height: 35px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.15);
  display: block;
  margin: 27px auto; }

.flat-text {
  height: 25px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  margin: 27px auto; }
  .flat-text.small {
    width: 25%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.15); }
  .flat-text.full-width {
    width: 100%; }

/**********************
**********************/
/*****************
  Chrome Browser
*****************/
.browser-window {
  text-align: left;
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 5px 5px 2px 2px;
  background-color: #616161;
  margin: 20px 0px;
  overflow: hidden; }
  .browser-window .top-bar {
    height: 30px;
    border-radius: 5px 5px 0 0;
    border-top: thin solid #616161;
    border-bottom: thin solid #616161;
    background: linear-gradient(#616161, #616161); }

.browser-window .circle {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  margin-right: 1px; }

#close-circle {
  background-color: #FF5C5A; }

#minimize-circle {
  background-color: #FFBB50; }

#maximize-circle {
  background-color: #616161; }

.browser-window .circles {
  margin: 5px 12px; }

.browser-window .content {
  margin: 0;
  width: 100%;
  display: inline-block;
  border-radius: 0 0 5px 5px;
  background-color: #fafafa; }

.browser-window .row {
  margin: 0; }

.clear {
  clear: both; }

/**********************
**********************/
.dynamic-color .red, .dynamic-color .pink, .dynamic-color .purple, .dynamic-color .deep-purple, .dynamic-color .indigo, .dynamic-color .blue, .dynamic-color .light-blue, .dynamic-color .cyan, .dynamic-color .teal, .dynamic-color .green, .dynamic-color .light-green, .dynamic-color .lime, .dynamic-color .yellow, .dynamic-color .amber, .dynamic-color .orange, .dynamic-color .deep-orange, .dynamic-color .brown, .dynamic-color .grey, .dynamic-color .blue-grey, .dynamic-color .black, .dynamic-color .white, .dynamic-color .transparent {
  height: 55px;
  width: 100%;
  padding: 0 15px;
  line-height: 55px;
  font-weight: 500;
  font-size: 12px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.dynamic-color .col {
  margin-bottom: 55px; }

.center {
  text-align: center;
  vertical-align: middle; }

.icon-demo {
  line-height: 50px; }

.icon-container i {
  font-size: 3em;
  display: block;
  margin-bottom: 10px; }

.icon-container .icon-preview {
  height: 120px;
  text-align: center; }

.icon-holder {
  display: block;
  text-align: center;
  width: 150px;
  height: 115px;
  float: left;
  margin: 0 0px 15px 0px; }
  .icon-holder p {
    margin: 0 0; }

.tabs-wrapper {
  position: relative;
  height: 48px; }
  .tabs-wrapper .row.pinned {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10; }

.shadow-demo {
  background-color: #616161;
  width: 125px;
  height: 125px;
  margin: 20px auto; }
  @media only screen and (max-width: 1200px) {
    .shadow-demo {
      width: 100px;
      height: 100px; } }
  @media only screen and (max-width: 600px) {
    .shadow-demo {
      width: 150px;
      height: 150px; } }

.parallax-container .text-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -27px; }

ul.table-of-contents {
  margin-top: 0;
  padding-top: 48px; }

code, pre {
  position: relative;
  font-size: 1.1rem; }

.directory-markup {
  font-size: 1rem;
  line-height: 1.1rem !important; }

pre[class*="language-"] {
  padding: 25px 12px 7px 12px;
  border: solid 1px rgba(51, 51, 51, 0.12); }
  pre[class*="language-"]:before {
    position: absolute;
    padding: 1px 5px;
    background: #e8e6e3;
    top: 0;
    left: 0;
    font-family: "Ubuntu", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #555;
    content: attr(class);
    font-size: .9rem;
    border: solid 1px rgba(51, 51, 51, 0.12);
    border-top: none;
    border-left: none; }

.toc-wrapper {
  position: relative;
  margin-top: 42px; }

#carbonads {
  max-width: 150px;
  display: inline-block;
  position: relative;
  text-align: left;
  -webkit-font-smoothing: antialiased; }
  #carbonads > span, #carbonads span.carbon-wrap {
    height: 100px;
    display: block; }
  #carbonads a.carbon-img {
    height: 100px;
    display: inline-block;
    margin-right: 10px; }
  #carbonads a.carbon-text, #carbonads input[type="submit"] {
    position: relative;
    top: 0;
    width: 150px;
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
    color: #E57373; }
  #carbonads a.carbon-poweredby {
    position: relative;
    left: 28px;
    font-size: 11px;
    color: #EF9A9A; }

.buysellads #carbonads > span, .buysellads #carbonads span.carbon-wrap {
  height: auto; }
.buysellads #carbonads a.carbon-text {
  top: 5px;
  left: 0;
  width: 130px;
  display: block;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  color: #E57373; }
.buysellads #carbonads a.carbon-poweredby {
  top: 5px; }

.buysellads-header #carbonads > span, .buysellads-header #carbonads span.carbon-wrap {
  height: auto; }
.buysellads-header #carbonads a.carbon-text {
  color: #fff; }
.buysellads-header #carbonads a.carbon-poweredby {
  color: rgba(255, 255, 255, 0.8); }

.buysellads {
  -webkit-font-smoothing: antialiased;
  position: relative; }
  .buysellads .bsa_it.one {
    width: 130px;
    position: absolute;
    left: 0;
    top: 50px; }
    .buysellads .bsa_it.one .bsa_it_p {
      left: 0;
      bottom: -15px; }
    .buysellads .bsa_it.one .bsa_it_ad .bsa_it_t {
      color: #E57373; }
    .buysellads .bsa_it.one .bsa_it_ad .bsa_it_d {
      color: #EF9A9A; }
  .buysellads .bsa_it_ad a {
    display: block;
    width: 130px; }

.buysellads-header {
  margin-top: 30px; }
  .buysellads-header .bsa_it.one .bsa_it_p {
    bottom: -20px; }

.bsa_it.one {
  min-width: 230px;
  max-width: 270px;
  display: inline-block;
  text-align: left; }
  .bsa_it.one .bsa_it_ad {
    border: 0;
    padding: 0;
    background-color: transparent; }
    .bsa_it.one .bsa_it_ad .bsa_it_t {
      color: #fff; }
    .bsa_it.one .bsa_it_ad .bsa_it_d {
      color: #FFCDD2; }
  .bsa_it.one .bsa_it_p {
    right: auto;
    left: 40px;
    bottom: -5px; }
    .bsa_it.one .bsa_it_p a {
      color: #FFCDD2; }

footer {
  font-size: .9rem; }

body.parallax-demo footer {
  margin-top: 0; }

.image-container {
  width: 100%; }
  .image-container img {
    max-width: 100%; }

@media only screen and (max-width : 600px) {
  .mobile-image {
    max-width: 100%; } }

.waves-color-demo .collection-item {
  height: 57px;
  line-height: 57px; }
  .waves-color-demo .collection-item code {
    line-height: 57px; }
.waves-color-demo .btn:not(.waves-light), .waves-color-demo .btn-large:not(.waves-light) {
  background-color: #FFFFFF;
  color: #212121; }

.card-panel span, .card-content p {
  -webkit-font-smoothing: antialiased; }

#images .card-panel .row {
  margin-bottom: 0; }

.pushpin-demo {
  position: relative;
  height: 100px; }

#pushpin-demo-1 {
  display: block;
  height: inherit;
  background-color: #ddd; }

.valign-demo {
  height: 400px;
  background-color: #ddd; }

.talign-demo {
  height: 100px;
  background-color: #ddd; }

#staggered-test li, #image-test {
  opacity: 0; }

#tx-live-lang-container {
  background-color: #fcfcfc;
  z-index: 999; }
  #tx-live-lang-container #tx-live-lang-picker {
    background-color: #fcfcfc; }
    #tx-live-lang-container #tx-live-lang-picker li {
      color: rgba(0, 0, 0, 0.87); }
      #tx-live-lang-container #tx-live-lang-picker li:hover {
        color: inherit;
        background-color: #fdeaeb; }
  #tx-live-lang-container .txlive-langselector-toggle {
    border-bottom: 2px solid #ee6e73; }
  #tx-live-lang-container .txlive-langselector-current {
    color: rgba(0, 0, 0, 0.87); }
  #tx-live-lang-container .txlive-langselector-marker {
    border-bottom: 4px solid rgba(0, 0, 0, 0.61); }

#download-thanks {
  display: none; }

#twitter-widget-0 {
  width: 190px !important; }
