{% extends "panel/paneljuntadirectiva/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">
        <div class="row">
            <div class="col s5">
                <a class="waves-effect waves-light btn btn-back" href="#"><i class="fa fa-chevron-left left"></i>Regresar</a>
            </div>
        </div>

        <div class="divider"></div>
        {% if form.errors %}
            <div class="card-panel red lighten-1">
                <span class="white-text"> {{ form.errors }} </span>
            </div>
            <div class="divider"></div>
        {% endif %}
        <h5>Datos del Preparador Fisico</h5>
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <div class="row">
                        <form class="col s12" method="POST" enctype="multipart/form-data">{% csrf_token %}
                          <div class="col col-profile s3">
                            Foto:
                            {% if not form.foto %}
                              <img src="{% static 'img/usuario.png' %}" class="circle responsive-img valign">
                            {% else %}
                                <img src="{{ persona.foto.url }}" class="responsive-img valign">
                            {% endif %}
                          </div>
                          <div class="row col s12">
                            {{form.as_p}}
                          </div>
                            <div class="row">
                                <div class="input-field col s12">
                                      <button class="btn cyan waves-effect waves-light right" type="submit" name="action">guardar
                                        <i class="mdi-content-send right"></i>
                                      </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- fin de card-panel -->

            </div>
        </div><!-- fin de row -->

    </div><!-- fin de panel-container -->
{% endblock contenido_panel %}
