{% extends "panel/frotend/base_frontend.html" %}

{% block contenido_panel %}
{% load staticfiles %}
    <div class="card-panel grey lighten-4">
          <span>Equipos Participantes</span>
          <div class="row valign-wrapper">
                <div class="col m1">
                  <img src="{% static 'img/psg.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bayer.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/mu.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/ars.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
                <div class="col m1">
                  <img src="{% static 'img/psg.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bayer.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/mu.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/ars.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/rm.jpg' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col m1">
                  <img src="{% static 'img/bar.png' %}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
              </div>
          </div>
    </div>
    <div class="container panel-container">
        <div class="row">
        <table class="hoverable centered bordered responsive-table">
            <thead>
                <tr>
                <th>tipo</th>
                <th>minuto</th>
                <th>descripcion</th>
                <th>usuario</th>
                <th>partido</th>
                </tr>
            </thead>
            <tbody>
            {% for incidencia in  incidencias %}
                <tr>
                    <td>{{ incidencia.tipo }}</td>
                    <td>{{ incidencia.minuto }}</td>
                    <td>{{ incidencia.descripcion }}</td>
                    <td>{{ incidencia.usuario }}</td>
                    <td>{{ incidencia.partido }}</td>
            
                    <td>
                        

                    </td>
                </tr>            
          {% endfor %}

            </tbody>
        </table>
      </div>
    </div>

{% include "panel/footer.html" %}
{% endblock contenido_panel %}