{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}
            {% if form.errors %}
                <div class="card-panel red lighten-1">
                    <span class="white-text"> {{ form.errors }} </span>
                </div>
                <div class="divider"></div>
            {% endif %}

            <div class="row">
              <div class="card">
                <div class="col s7">
                <h5>Generar Administrador de Equipo</h5>
                </div>
                <div class="col s10 m6 ">
                    <form class="col s12" method="POST" enctype="multipart/form-data" id="form_datos">{% csrf_token %}
                      <div class="row">
                        <div class="input-field col s12">
                            {{form.facultad}}
                            {{form.facultad.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.username}}
                            {{form.username.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.email}}
                            {{form.email.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.first_name}}
                            {{form.first_name.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.last_name}}
                            {{form.last_name.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.avatar}}
                            {{form.avatar.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.address}}
                            {{form.address.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.phone}}
                            {{form.phone.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.gender}}
                            {{form.gender.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.date_birth}}
                            {{form.date_birth.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.password1}}
                            {{form.password1.label_tag}}
                        </div>
                        <div class="input-field col s12">
                            {{form.password2}}
                            {{form.password2.label_tag}}
                        </div>

                        <div class="row">
                                <div class="input-field col s12">
                                      <button class="btn cyan waves-effect waves-light center" type="submit" name="action">Guardar
                                        <i class="mdi-content-send right"></i>
                                      </button>
                                </div>
                        </div>

                      </div>

                    </form>
                </div>
              </div>
        </div>
{% endblock contenido_panel %}
