{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}
<div class="row">
    <h4 class="grey-text text-darken-4"> Administradores de Equipos</h4>
    <table class="hoverable centered bordered responsive-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Estado</th>
        </tr>
    </thead>

    <tbody>
    {% for user in  admins %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            {%  if user.is_active %}
                <td>Habilitado</td>
            {% else %}
                <td><a href="{% url 'equipo_app:registrar-Pago' user.pk %}">Desabilitado</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock contenido_panel %}
