{% extends "home/base_home.html" %}

{% block content %}
{% load staticfiles %}

    <div class="container">

        <div class="row">

            <div class="col s12 m5 offset-m3 l4 offset-l4 z-depth-4 card-panel">

                <form method="POST" class="login-form"> {% csrf_token %}

                    <div class="row">
                        <div class="input-field col s12 center">
                            <p class="center">
                                Login Sistema Futbol
                            </p>
                            {% if form.errors %}
                                <div class="center text-errors">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="mdi-action-perm-identity prefix"></i>
                            {{ form.username }}
                            {{ form.username.label_tag }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="mdi-action-lock-outline prefix"></i>
                            {{ form.password }}
                            {{ form.password.label_tag }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <button class="waves-effect waves-ripple btn col s12" type="submit" name="action">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
