{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

            <div class="row">
              <div class="card">
                <h4>Se Registrara La inscripcion Para</h4>
                <div class="col s10 m6 ">
                    <form class="col s12" method="POST" enctype="multipart/form-data" id="form_datos">{% csrf_token %}
                      <div class="row">
                        <div class="row">
                            <ul class="collection">
                               <li class="collection-item">
                                    <span class="title">precio_pago:</span>
                                    <p>S/.{{ precio }}</p>
                                </li>
                                <li class="collection-item">
                                    <span class="title">junta_directiva:</span>
                                    <p>{{ junta }}</p>
                                </li>
                                <li class="collection-item">
                                    <span class="title">torneo:</span>
                                    <p>{{ torneo }}</p>
                                </li>
                                <li class="collection-item">
                                    <span class="title">Registrado por:</span>
                                    <p>{{ usuario }}</p>
                                </li>

                            </ul> <!-- fin de collection -->
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn cyan waves-effect waves-light center" type="submit" name="action">Confirmar
                                    <i class="mdi-content-send right"></i>
                                </button>
                            </div>
                        </div>
                      </div>
                    </form>
                </div>
              </div>
            </div>
{% endblock contenido_panel %}
