{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}


<div class="container panel-container">
        <div class="row">
            <div class="col s5">
                <a class="waves-effect waves-light btn btn-back" href="{% url 'equipo_app:listar-Pago' %}"><i class="fa fa-chevron-left left"></i>Regresar</a>    
            </div>
        </div>

        <div class="divider"></div>
        
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card-panel">
                    <div class="row">
                        <ul class="collection">
                           <li class="collection-item">
                                <span class="title">precio_pago:</span>
                                <p>{{ Pago.precio_pago }}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">junta_directiva:</span>
                                <p>{{ Pago.junta_directiva}}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">torneo:</span>
                                <p>{{ Pago.torneo}}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">fecha:</span>
                                <p>{{ Pago.fecha}}</p>
                            </li>
                            <li class="collection-item">
                                <span class="title">usuario:</span>
                                <p>{{ Pago.usuario}}</p>
                            </li>
                           
                        </ul> <!-- fin de collection -->
                    </div>

                </div><!-- fin de card-panel -->

            </div>
        </div><!-- fin de row -->
        
    </div><!-- fin de panel-container -->

{% endblock contenido_panel %}