{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">
        <div class="row">
        <h5>Pagos Registrados Durante este Torneo</h5>
        <table class="hoverable centered bordered responsive-table">
            <thead>
                <tr>
                <th>Concepto Pago</th>
                <th>Equipo</th>
                <th>Torneo</th>
                <th>Fecha</th>
                <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
            {% for Pago in  Pago %}
                <tr>
                    <td>{{ Pago.precio_pago }}</td>
                    <td>{{ Pago.junta_directiva }}</td>
                    <td>{{ Pago.torneo }}</td>
                    <td>{{ Pago.fecha }}</td>
                    <td>{{ Pago.usuario }}</td>

                    <td>
                        <a href="{% url 'equipo_app:detalle-Pago' Pago.pk %}" class="waves-effect waves-light btn panel-btn green"><i class="fa fa-eye"></i></a>
                        <a href="{% url 'equipo_app:modificar-Pago' Pago.pk %}" class="waves-effect waves-light btn panel-btn yellow"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'equipo_app:eliminar-Pago' Pago.pk %}" class="waves-effect waves-light btn panel-btn red"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                {% empty %}
                <td colspan="6">Lo sentimos no se han registrados pagos</td>
          {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
{% endblock contenido_panel %}
