{% extends "panel/panel.html" %}

{% block contenido_panel %}
{% load staticfiles %}

    <div class="container panel-container">
        <div class="row">
            <div class="col s6 m4">
                <p><a class="waves-effect waves-light btn" href="{% url 'incidencias_app:registrar-espectador' %}"><i class="fa fa-plus left"></i>Agregar Espectador</a></p>
            </div>
        </div>
        <div class="col s6">
            <form method="GET">{% csrf_token %}
                <div class="input-field col s6">
                    {{form}}
                </div>
                <div class="input-field ">
                    <button class="btn waves-effect waves-light" type="submit" name="action"><i class="mdi-action-search right"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="row">
        <table class="hoverable centered bordered responsive-table">
            <thead>
                <tr>
                <th>Nombre</th>
                <th>Sigla</th>
                </tr>
            </thead>
            <tbody>
            {% for espectador in  espectadores %}
                <tr>
                    <td>{{ espectador.nombre }}</td>
                    <td>{{ espectador.entrada }}</td>

                    <td>
                        <a href="{% url 'incidencias_app:detalle-espectador' espectador.pk %}" class="waves-effect waves-light btn panel-btn green"><i class="fa fa-eye"></i></a>
                        <a href="{% url 'incidencias_app:modificar-espectador' espectador.pk %}" class="waves-effect waves-light btn panel-btn yellow"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'incidencias_app:eliminar-espectador' espectador.pk %}" class="waves-effect waves-light btn panel-btn red"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
          {% endfor %}

            </tbody>
        </table>
        {% include "include/pagination.html" %}
      </div>
    </div>
{% endblock contenido_panel %}
